.about {
   padding: 25px 0;
}

.about__content-box {
   font-size: 0;
   margin-top: 70px;
   text-align: center;
}

.about__card-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.about__card {
   max-width: 33.3%;
   display: inline-block;
}

.about__card-icon {
   display: block;
   margin: 0 auto;
}

.about__card-description {
   text-align: center;
   color: #000;
}