.about {
   padding: 50px 0;
}

.about__card-icon {
   max-width: 45%;
}

.about__content-box {
   margin-top: 5%;
   display: flex;
   gap: 1.7rem;
   justify-content: space-evenly;
}

.about__card-title {
   padding: 1.5rem 0;
}

.about__card {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.about__card-description {
   text-align: center;
}