.button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #ec7979;
  padding: 16.5px 100px;
}

.button:is(:hover, :focus) {
  background: #ab4949;
}

.button:active {
  box-shadow: inset 0px 0px 10px #ab4949;
}

.button--transparent {
  border: 2px solid #ffffff;
  background-color: transparent;
}

.button--transparent:is(:hover, :focus) {
  background: none;
  border: 2px solid #ec7979;
  color: #ec7979;
}

.button--transparent:active {
  background: #ab4949;
  border: 2px solid #ab4949;
  color: #fff;
}
