.button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #ec7979;
  padding: 16.5px 100px;
}

.button:hover {
  background: #ab4949;
}
