html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: capitalize;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: "Open Sans";
  font-size: 0.8rem;
  padding: 0.9rem 0;
  border-bottom: 1px solid #bdbdbd;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #bdbdbd;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0 2px #ec7979;
}
