.footer {
  padding: 35px 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer__text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer__social-item-image {
  max-width: 75%;
}

.footer__social-link:focus .footer__social-item-image {
  border-radius: 5px;
  outline: 2px solid #ccc;
}
