.header__nav {
  position: fixed;
  top: 0;
  background-color: #000;
  width: 100vw;
  height: 4rem;
  z-index: 10;
}

.header__container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: stretch;
}

.header__nav-list .header__nav-link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 1.4rem 2rem;
}

.header__nav-list .header__nav-link:is(:hover, :focus) {
  background-color: #ec7979;
}

.header__nav-list .header__nav-link:active {
  background-color: #ab4949;
}

.header__nav-logo {
  max-height: 3.8rem;
}

.header__menu-burger {
  display: none;
  width: 55px;
  height: 55px;
}

.header__menu-burger:focus {
  outline: 1px solid #fff;
  border-radius: 5px;
  outline-offset: -2px;
}

.header__menu-burger::before,
.header__menu-burger::after,
.header__menu-burger-line {
  width: 24px;
  height: 4px;
  background-color: #fff;
  transition: all 0.6s;
}

.header__menu-burger {
  position: relative;
}

.header__menu-burger::before,
.header__menu-burger::after {
  content: "";
  position: absolute;
}

.header__menu-burger::before {
  top: 17px;
}

.header__menu-burger::after {
  bottom: 16px;
}

.header__menu-burger--active .header__menu-burger-line {
  opacity: 0;
}

.header__menu-burger--active::after {
  transform: rotate(-45deg);
  top: 26px;
}

.header__menu-burger--active::before {
  transform: rotate(45deg);
  top: 26px;
}

@media (max-width: 768px) {
  .header__nav-list {
    display: none;
  }

  .header__menu-burger {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
