.header__nav {
  position: fixed;
  top: 0;
  background-color: #000;
  width: 100vw;
  height: 4rem;
  z-index: 10;
}

.header__container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header__nav-list .header__nav-link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 1.53rem 2rem;
}

.header__nav-list .header__nav-link:is(:hover, :focus) {
  background-color: #ec7979;
}

.header__nav-list .header__nav-link:active {
  background-color: #ab4949;
}

.header__nav-logo {
  max-height: 3.8rem;
}
