.title {
   min-height: 150px;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.separator {
   width: 170px;
   height: 0px;
   border: 1px solid #EC7979;
   margin: 0 auto;
}

.subtitle {
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878B;
}