.section-header__title {
  padding: 2rem 0;
  text-align: center;
}

.section-header__separator {
  width: 10rem;
  height: 0px;
  border: 1px solid #ec7979;
  margin: 0 auto;
  margin-bottom: 40px;
}

.section-header__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header--white {
  color: #fff;
}

.section-header--white > .section-header__separator {
  border-color: #fff;
}
