.social {
  padding: 20px 0;
  background-color: #f8efef;
}

.social__content-box {
  display: flex;
  align-items: center;
}

.social__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.social__title {
  margin-bottom: 1.2rem;
}

.social__link:focus .social__link-image {
  border-radius: 5px;
  outline: 2px solid #ccc;
}

@media (max-width: 768px) {
  .social__content-box {
    flex-direction: column;
    text-align: center;
    gap: 32px;
  }
}