.tabs {
  padding: 80px 0;
}

.tabs__title {
  font-size: 0;
}

.tabs__content {
  display: flex;
  gap: 30px;
  border: 1px solid #c6cbcd;
  padding-left: 8%;
  align-items: stretch;
  text-align: left;
}

.tabs__content-title {
  font-size: 1.7rem;
  padding: 2.2rem 0;
}

.tabs__content-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 3%;
  max-width: 100%;
}

.tabs__content-description .button {
  align-self: flex-start;
}

.tabs__list {
  display: flex;
  align-items: center;
  position: relative;
  top: 1px;
}
.tabs__button {
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  padding: 10px 7%;
  border-radius: 5px 5px 0 0;
  border: 1px solid transparent;
  border-bottom: none;
}

.tabs__button--active {
  background-color: #fff;
  border: 1px solid #c6cbcd;
  border-bottom: none;
}

.tabs__button:focus {
  border: 1px solid #c6cbcd;
  border-bottom: none;
}

.tabs__content-picture {
  object-fit: cover;
  max-width: 50%;
}

@media (max-width: 746px) {
  .tabs__content-picture {
    display: none;
  }

  .tabs__content-title {
    text-align: left;
  }

  .tabs__content {
    padding: 0 5%;
    text-align: center;
    font-size: 13px;
  }

  .tabs__content-title {
    text-align: center;
  }
  .tabs__content-description .button {
    align-self: stretch;
  }

  .tabs__content-description {
    align-items: center;
  }
}
