.tabs {
  padding: 80px 0;
}

.tabs__title {
  font-size: 0;
}

.tabs__content {
  display: flex;
  gap: 30px;
  text-align: justify;
  border: 1px solid #c6cbcd;
  padding-left: 100px;
}

.tabs__content-title {
  font-size: 1.7rem;
  padding: 2.2rem 0;
}

.tabs__content-text {
  text-align: left;
  margin-bottom: 2rem;
}

.tabs__list {
  display: flex;
  align-items: center;
}
.tabs__item {
  padding: 0.5rem 4.6rem;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs__item--active {
  background-color: #fff;
  border: 1px solid #c6cbcd;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.tabs__button {
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
}
